@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*ESTILO GERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    padding: 0;

}

.interface{
    max-width: 1700px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(57, 57, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 10px rgb(31, 31, 255);
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: rgb(57, 57, 255);
}


/*ESTILO DO CABEÇALHO*/

header{
    padding: 10px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #868686;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul li{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


header a img{
    width: 250px;
    height: auto;
}


/*ESTILO DO TOPO*/

.topo-do-site .img-topo img{  
    width: 600px;
    height: auto;
}


section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo h1{
    color: #fff;
    font-size: 42px;
    line-height: 50px;
}


.topo-do-site .txt-topo h1 span{
    color: rgb(52, 52, 252);
    font-size: 60px;
}

.topo-do-site .txt-topo p{
    color: #fff;
    margin: 40px 0px;
    font-size: 30px;
}

.topo-do-site .img-topo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate; 
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}

/*ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color:#fff;
    padding: 40px;
    border: 2px solid #fff;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff73;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: rgb(52, 52, 252);

}

.especialidades .especialidades-box h3{
    font-size: 26px;
    margin: 15px 0;
}

/*SOBRE */

section.sobre {
    padding: 40px 4%;
    text-align: start;
}

section.sobre .flex{
    align-items: center;
    gap: 300px;
}

.sobre .txt-sobre{
    color: #fff;   
}

.sobre .txt-sobre h2{
    font-size: 45px;
    padding-bottom: 40px;
    line-height: 40px;
}

.sobre .txt-sobre h2 span{
    color:rgb(52, 52, 252);
    display: block;
}

.sobre .txt-sobre p {
    font-size: 20px;
    margin: 20px 0;
    text-align: justify;
}


.sobre .txt-sobre p span{
    color:rgb(255, 255, 255);
    font-size: 25px;
}

.sobre .txt-sobre p span:hover{
    color:rgb(52, 52, 252);
    font-size: 26px;
    transition: .4s;
    cursor: pointer;
}


.sobre .txt-icone button{
    flex-direction: row;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: rgb(52, 52, 252);
    font-size: 30px;
    margin: 20px 60px;
    transition: .2s;
}